@import url('https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker');
*body {
  font-family: 'Open Sans', sans-serif;
}

.navbar{
  margin: 0;
}
.navbar-brand{
  font-size: 33px;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px #cc8800;
}

.jumbo-img {
  background-image: url("../img/hairy-animal.jpg");
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.title-text, h1 {
  color: #fff;
  font-size: 3em;
  text-shadow: 3px 3px black;
  margin-top: 5%;
  font-family: 'Open Sans', sans-serif;
}

.btn-primary {
  color: black;
  background-color: #fff;
  border: none;
  margin-top: 2%;
}

.btn-primary:hover {
  background-color: #3c4643;
}

.btn-group-lg>.btn, .btn-lg {
  border-radius: 5%;
}

.social {
  height: 40%;
  margin-top: 30%;
}

.fa {
  color: #fff;
  text-shadow: 3px 3px black;
  font-size: 70px;
  padding: 0 2% 2% 2%;
}

.fa:hover {
  color: #3c4643;
}

.footer {
  color: #fff;
  height: 200px;
  background-color: #3c4643;
  padding: 5%;
}
