@import url('https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker');

/*******************   UNIVERSAL   ***********************/
*body {
  font-family: 'Open Sans', sans-serif;
}
/*******************   END UNIVERSAL   ***********************/

/*******************   NAVBAR   ***********************/
.navbar {
  margin: 0;
}
.navbar-brand-logo {
  color: #7c6720;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px #3c4643;
}

.navbar-brand,a:hover {
  color: #3c4643;
  text-decoration: none;
}
/*******************   END NAVBAR   ***********************/

/*******************   JUMBOTRON   ***********************/
.jumbo-img {
  background-image: url("../img/hairy-animal.jpg");
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.title-text, h1 {
  color: #fff;
  font-size: 3em;
  text-shadow: 3px 3px black;
  margin-top: 5%;
  font-family: 'Open Sans', sans-serif;
}

.btn-primary {
  color: black;
  background-color: #fff;
  border: none;
  margin-top: 2%;
}

.btn-primary:hover {
  background-color: #3c4643;
}

.btn-group-lg>.btn, .btn-lg {
  border-radius: 5%;
}
/*******************   END JUMBOTRON   ***********************/

/*******************   SOCIAL   ***********************/
.social {
  height: 40%;
  margin-top: 30%;
}

.fa {
  color: #fff;
  text-shadow: 3px 3px black;
  font-size: 70px;
  padding: 0 2% 2% 2%;
}

.fa:hover {
  color: #3c4643;
}
/*******************   END SOCIAL   ***********************/


/*******************  FOOTER   ***********************/
.footer {
  color: #fff;
  height: 150px;
  background-color: #3c4643;
  padding: 5%;
}

.address {
  color: #fff;
}

.address:hover {
  color: #7c6720;
  text-decoration: none;
}
/*******************   END FOOTER   ***********************/

/*******************   CONTACT INPUT FORM   ***********************/
.contact {
  margin-top: 10%;
  font-family: 'Open Sans', sans-serif;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.form-container {
  background-color: #F2F2F2;
  /*margin-top: 25px;*/
  padding: 20px;
}

.form-container h4 {
  margin-top: 0px;
}

.contact-form textarea {
  max-width: 100%;
  max-height: 100px;
}

.danger {
  border-color: #f00;
}
/*******************   END CONTACT INPUT FORM   ***********************/

/*******************   CONTACT PAGE   ***********************/
.social-contact {
  margin: 0;
  background-color: #f2f2f2;
  height: 421px;
}

.fa-contact {
  color: #7c6720;
  padding: 2% 5% 2% 5%;
}

.fa-contact:hover {
  color: #3c4643;
}

.call-title, .email-title, .map-title {
  color: #7c6720;
  font-size: 1.5em;
  font-weight: 500;
}

.address-contact {
  color: inherit;
}

.address-contact:hover {
  color: #7c6720;
}

.footer-contact {
  margin-top: 2%;
}
/*******************   END CONTACT PAGE   ***********************/

/*******************   MEDIA QUERIES   ***********************/
@media only screen and (max-width: 768px) {
  body {
    margin: 0 4%;
  }
  .navbar-brand-logo {
    font-size: 30px;
  }
  .title-text, h1 {
    font-size: 40px;
    margin-top: 15%;
  }
}
@media only screen and (max-width: 991px) {
  body {
    margin: 0 4%;
  }
}
/*******************   END MEDIA QUERIES   ***********************/
